# Copie este arquivo para .env e preencha com os valores do seu projeto Lovable Cloud / Supabase
# Estas variáveis são públicas (prefixo VITE_) e usadas no client.

VITE_SUPABASE_URL=https://rmqicqxnaghujcbzstcf.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtcWljcXhuYWdodWpjYnpzdGNmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc4OTk2NzYsImV4cCI6MjA5MzQ3NTY3Nn0.oWSzbEXJOVifEFJSysjiJtGXAspgSTVYMzJ60iKGOfw
VITE_SUPABASE_PROJECT_ID=rmqicqxnaghujcbzstcf
